@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
// COLORS
$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Dark-Cyan-2: hsla(192, 100%, 9%, 0.452);
$Very-Dark-Cyan-3: hsla(192, 100%, 9%, 0.864);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$White: #fff;
// FONTS
$Font-family-body: "Open Sans", sans-serif;
$Font-family: "Poppins", sans-serif;
// DIMENSIONS
$Width-mobile: 355px;
$Height-mobile: 4213px;
$Width-desktop: 1300px;
$Height-desktop: 5097px;
$Width-media: 1300px;
